[submodule "submodules/neops-gql-gtw"]
	path = submodules/neops-gql-gtw
	url = https://github.com/zebbra/neops-gql-gtw.git
[submodule "submodules/neops-graphql"]
	path = submodules/neops-graphql
	url = https://github.com/zebbra/neops-graphql.git
[submodule "submodules/neops-task-engine"]
	path = submodules/neops-workflow-engine
	url = https://github.com/zebbra/neops-task-engine.git
[submodule "submodules/neops-task-runner-py"]
	path = submodules/neops-worker-sdk-py
	url = https://github.com/zebbra/neops-task-runner-py.git
[submodule "submodules/neops-web-sdk"]
	path = submodules/neops-web-sdk
	url = https://github.com/zebbra/neops-web-sdk.git
[submodule "submodules/neops-web-client"]
	path = submodules/neops-web-client
	url = https://github.com/zebbra/neops-web-client.git
