[submodule "submodules/neops-gql-gtw"]
	path = submodules/neops-gql-gtw
	url = https://github.com/zebbra/neops-gql-gtw.git
[submodule "submodules/neops-graphql"]
	path = submodules/neops-graphql
	url = https://github.com/zebbra/neops-graphql.git
[submodule "submodules/neops-task-engine"]
	path = submodules/neops-task-engine
	url = https://github.com/zebbra/neops-task-engine.git
[submodule "submodules/neops-task-runner-py"]
	path = submodules/neops-task-runner-py
	url = https://github.com/zebbra/neops-task-runner-py.git
